#void-circle{
    height: 400px;
    width: 400px;
    clip-path: circle(50% at 50% 50%);
    background-color: #fff;
    align-self: center;
    position: relative;
    #left-eye{
        animation: surpiseLE 0.2s infinite;
        
    }
    @keyframes bigSmileLE{
        0%{
            d:path(' M 173.29 129.39 C 186.82 127.79 200.81 125.93 214.20 129.49 C 225.27 132.34 233.52 141.31 238.99 150.93 C 241.12 154.18 240.46 158.24 240.13 161.88 C 238.56 163.99 235.48 164.08 233.54 162.46 C 229.41 159.50 227.54 154.58 224.13 150.96 C 218.13 144.04 210.69 138.22 202.06 134.99 C 192.85 131.57 183.04 130.18 173.29 129.39 Z')
        }
        100%{
            d:path('M 173.862 123.666 C 187.392 122.066 201.382 120.206 214.772 123.766 C 225.842 126.616 234.092 135.586 239.562 145.206 C 241.692 148.456 241.032 152.516 240.702 156.156 C 239.132 158.266 236.052 158.356 234.112 156.736 C 229.982 153.776 228.112 148.856 224.702 145.236 C 218.702 138.316 211.262 132.496 202.632 129.266 C 193.422 125.846 183.612 124.456 173.862 123.666 Z')
        }
    }
    @keyframes surpiseLE{
        0%{
            d:path(' M 214.58 108.73 C 218.63 107.21 222.85 109.60 225.95 112.09 C 232.71 118.10 238.21 125.57 241.95 133.81 C 256.97 165.43 271.32 197.58 280.59 231.43 C 284.06 242.92 286.50 254.98 285.33 267.02 C 284.87 270.92 283.58 275.74 279.56 277.37 C 275.18 279.28 270.58 276.37 267.19 273.75 C 259.60 267.46 254.15 259.05 249.35 250.54 C 239.12 232.72 230.30 214.08 223.29 194.77 C 214.26 172.61 209.71 148.78 208.49 124.96 C 208.42 119.25 208.59 111.53 214.58 108.73 Z')
        }
        70%{
            d:path(' M 214.58 108.73 C 218.63 107.21 222.85 109.60 225.95 112.09 C 232.71 118.10 238.21 125.57 241.95 133.81 C 256.97 165.43 271.32 197.58 280.59 231.43 C 284.06 242.92 286.50 254.98 285.33 267.02 C 284.87 270.92 283.58 275.74 279.56 277.37 C 275.18 279.28 270.58 276.37 267.19 273.75 C 259.60 267.46 254.15 259.05 249.35 250.54 C 239.12 232.72 230.30 214.08 223.29 194.77 C 214.26 172.61 209.71 148.78 208.49 124.96 C 208.42 119.25 208.59 111.53 214.58 108.73 Z')
        }
        100%{
            d:path('M 261.93 239.534 C 265.633 236.973 265.758 236.584 270.11 233.429 C 274.53 230.225 272.227 231.361 278.881 227.567 C 284.463 224.384 287.883 225.607 291.274 229.488 C 295.352 234.156 284.967 237.78 277.828 246.006 C 272.606 252.023 266.253 255.56 262.233 257.19 C 257.853 259.1 257.112 261.38 248.598 263.315 C 242.943 264.6 230.49 270.712 230.279 268.907 C 229.449 261.816 240.374 255.211 240.374 255.211 C 248.28 248.425 251.228 248.447 252.951 246.521 C 257.658 243.199 257.588 243.158 261.93 239.534 Z')
        }
    }
    #right-eye{
        animation: surpiseRE 0.2s infinite;
    }
    @keyframes bigSmileRE{
        0%{
            d:path(' M 312.75 133.84 C 323.46 128.09 336.18 126.00 348.12 128.49 C 352.20 129.25 355.90 131.19 359.84 132.41 C 348.57 133.09 337.31 136.06 327.49 141.68 C 319.70 148.47 312.28 155.69 304.92 162.96 C 302.80 165.20 299.70 166.03 296.72 166.26 C 294.36 161.78 295.10 156.38 296.89 151.84 C 300.11 144.33 306.19 138.50 312.75 133.84 Z')
        }
        100%{
            d:path('M 316.757 124.682 C 327.467 118.932 340.187 116.842 352.127 119.332 C 356.207 120.092 359.907 122.032 363.847 123.252 C 352.577 123.932 341.317 126.902 331.497 132.522 C 323.707 139.312 316.287 146.532 308.927 153.802 C 306.807 156.042 303.707 156.872 300.727 157.102 C 298.367 152.622 299.107 147.222 300.897 142.682 C 304.117 135.172 310.197 129.342 316.757 124.682 Z')
        }
    }
    @keyframes surpiseRE{
        0%{
            d:path(' M 346.00 78.28 C 349.98 76.90 354.04 79.50 357.25 81.68 C 364.73 87.55 370.53 95.28 375.65 103.21 C 390.06 134.76 401.96 167.43 411.46 200.79 C 414.08 208.59 414.64 216.87 414.69 225.05 C 414.39 230.49 414.17 236.97 409.60 240.71 C 405.75 243.59 400.99 240.78 397.60 238.49 C 390.37 232.96 384.33 225.80 380.19 217.69 C 372.09 203.06 364.77 187.98 358.53 172.46 C 350.94 154.17 346.00 134.91 342.01 115.56 C 339.71 106.28 339.43 96.56 341.03 87.14 C 341.74 83.83 342.77 79.99 346.00 78.28 Z')
        }
        70%{
            d:path('M 346.00 78.28 C 349.98 76.90 354.04 79.50 357.25 81.68 C 364.73 87.55 370.53 95.28 375.65 103.21 C 390.06 134.76 401.96 167.43 411.46 200.79 C 414.08 208.59 414.64 216.87 414.69 225.05 C 414.39 230.49 414.17 236.97 409.60 240.71 C 405.75 243.59 400.99 240.78 397.60 238.49 C 390.37 232.96 384.33 225.80 380.19 217.69 C 372.09 203.06 364.77 187.98 358.53 172.46 C 350.94 154.17 346.00 134.91 342.01 115.56 C 339.71 106.28 339.43 96.56 341.03 87.14 C 341.74 83.83 342.77 79.99 346.00 78.28 Z')
        }
        100%{
            d:path('M 387.468 206.279 C 392.921 206.249 398.366 205.79 401.944 206.128 C 406.846 206.719 416.215 207.503 416.215 207.503 C 419.33 208.484 419.514 208.697 421.402 210.629 C 418.006 215.237 417.222 215.084 411.993 216.512 C 406.939 218.681 405.942 216.744 396.834 218.615 C 391.756 219.285 386.097 219.588 382.584 219.999 C 380.194 220.54 379.77 220.986 367.939 221.439 C 358.068 221.817 353.456 218.271 353.456 218.271 C 353.456 218.271 354.526 216.399 366.373 209.94 C 373.526 207.244 372.543 207.533 378.931 207.075 C 381.728 206.589 383.624 207.375 387.468 206.279 Z')
        }
    }
    #mouth{
        animation: surpiseM 0.5s infinite;
    }
    @keyframes bigSmileM{
        0%{
            d:path('M 193.524 190.055 C 213.664 185.005 237.727 179.436 258.547 179.526 C 282.447 179.236 308.157 186.741 331.137 193.071 C 356.217 200.261 377.19 213.76 400.33 225.85 C 396.66 248.27 389.73 270.18 379.56 290.51 C 368.73 312.05 353.54 331.73 333.84 345.85 C 323.97 354 312.35 360.12 299.83 362.94 C 287.8 365.93 275.31 365.61 263.01 365.46 C 245.38 365.54 227.98 361.01 211.87 354.06 C 197.3 347.7 183.76 338.76 172.84 327.15 C 152.16 308.07 140.25 281.29 134.55 254.12 C 132.07 242.43 130.62 230.52 130.52 218.57 C 151.41 208.87 171.204 195.775 193.524 190.055 Z')
        }
        100%{
            d:path('M 195.42 195.11 C 215.56 190.06 236.22 186.47 257.04 186.56 C 280.94 186.27 304.64 190.76 327.62 197.09 C 352.7 204.28 371.57 215.009 394.71 227.099 C 391.04 249.519 384.735 269.556 374.565 289.886 C 363.735 311.426 349.793 331.73 330.093 345.85 C 320.223 354 307.979 358.871 295.459 361.691 C 283.429 364.681 270.315 364.361 258.015 364.211 C 240.385 364.291 226.107 359.761 209.997 352.811 C 195.427 346.451 185.009 338.76 174.089 327.15 C 153.409 308.07 145.245 286.285 139.545 259.115 C 137.065 247.425 133.742 233.018 133.642 221.068 C 154.532 211.368 173.1 200.83 195.42 195.11 Z')
        }
    }
    @keyframes surpiseM{
        0%{
            d:path(' M 343.25 254.71 C 350.22 252.60 357.87 253.42 364.72 255.62 C 369.73 258.23 373.93 262.39 376.95 267.14 C 381.27 274.64 381.55 283.71 380.75 292.12 C 380.53 300.61 386.46 307.98 393.59 311.95 C 401.65 316.66 404.44 326.55 404.87 335.31 C 405.50 344.34 399.80 352.79 392.39 357.48 C 383.24 363.19 371.48 363.54 361.48 360.02 C 356.30 358.48 352.44 354.09 350.05 349.42 C 347.00 341.35 346.59 332.56 346.87 324.02 C 347.14 318.66 345.80 312.91 341.84 309.07 C 339.11 306.04 334.93 304.84 332.38 301.63 C 327.21 296.06 322.43 288.85 323.76 280.87 C 325.43 269.74 332.81 259.21 343.25 254.71 Z')
        }
        100%{
            d:path(' M 343.25 254.71 C 350.22 252.60 357.87 253.42 364.72 255.62 C 369.73 258.23 373.93 262.39 376.95 267.14 C 381.27 274.64 381.55 283.71 380.75 292.12 C 380.53 300.61 386.46 307.98 393.59 311.95 C 401.65 316.66 404.44 326.55 404.87 335.31 C 405.50 344.34 399.80 352.79 392.39 357.48 C 383.24 363.19 371.48 363.54 361.48 360.02 C 356.30 358.48 352.44 354.09 350.05 349.42 C 347.00 341.35 346.59 332.56 346.87 324.02 C 347.14 318.66 345.80 312.91 341.84 309.07 C 339.11 306.04 334.93 304.84 332.38 301.63 C 327.21 296.06 322.43 288.85 323.76 280.87 C 325.43 269.74 332.81 259.21 343.25 254.71 Z')
        }
    }
}