.calendar-zone{
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
    .date{
        display: flex;
        .month{
            width: 60px;
            height: 55px;
            background-image: url('/assets/img/calendar/month-bg.png');
            background-size: 236px 336px;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                left: 11px;
                top: 8px;
                z-index: 2;
                width: 37px;
                height: 40px;
                background-image: url('/assets/img/calendar/month.png');
                background-size: 85px 402px;
            }
            &:after{
                content: "";
                position: absolute;
                left: 5px;
                top: 3px;
                z-index: 1;
                width: 47px;
                height: 50px;
                background-image: url('/assets/img/calendar/month-bg-black.png');
                background-size: 193px 300px;
            }
            &.m-1{
                background-position: -3px 0px;
                &:before{
                    background-position: -3px 0px;
                }
                &:after{
                    background-position: -3px 0px;
                }
            }
            &.m-2{
                top: -2px;
                background-position: -3px -55px;
                &:before{
                    width: 35px;
                    background-position: -2px -40px;
                }
                &:after{
                    background-position: -3px -50px;
                }
            }
            &.m-3{
                top: -2px;
                background-position: -3px -112px;
                &:before{
                    background-position: -2px -80px;
                }
                &:after{
                    background-position: -3px -100px;
                }
            }
            &.m-4{
                top: -2px;
                background-position: -3px -167px;
                &:before{
                    background-position: -2px -119px;
                }
                &:after{
                    background-position: -3px -149px;
                }
            }
            &.m-5{
                top: -2px;
                background-position: -3px -222px;
                &:before{
                    background-position: -2px -158px;
                }
                &:after{
                    background-position: -3px -198px;
                }
            }
            &.m-6{
                top: -2px;
                background-position: -3px -277px;
                &:before{
                    background-position: -2px -197px;
                }
                &:after{
                    background-position: -3px -247px;
                }
            }
            &.m-7{
                top: -2px;
                background-position: -67px 0px;
                &:before{
                    background-position: -2px -239px;
                }
                &:after{
                    background-position: -57px 0px;
                }
            }
            &.m-8{
                top: -2px;
                background-position: -67px -55px;
                &:before{
                    background-position: -5px -278px;
                }
                &:after{
                    background-position: -57px -50px;
                }
            }
            &.m-9{
                top: -2px;
                background-position: -67px -111px;
                &:before{
                    background-position: -45px 0px;
                }
                &:after{
                    background-position: -57px -99px;
                }
            }
            &.m-10{
                top: -2px;
                left: 2px;
                background-position: -67px -167px;
                &:before{
                    left: 3px;
                    background-position: -37px -40px;
                }
                &:after{
                    left: 0;
                    background-position: -51px -149px;
                }
            }
            &.m-11{
                top: -2px;
                left: 2px;
                background-position: -67px -222px;
                &:before{
                    left: 3px;
                    background-position: -37px -79px;
                }
                &:after{
                    left: 0;
                    background-position: -51px -198px;
                }
            }
            &.m-12{
                top: -2px;
                left: 2px;
                background-position: -67px -277px;
                &:before{
                    left: 3px;
                    background-position: -46px -361px;
                }
                &:after{
                    left: 0;
                    background-position: -51px -247px;
                }
            }
        }
        .day{
            display: flex;
            flex-wrap: wrap;
            margin-left: -50px;
            margin-top: -5px;
            .day-first{
                width: 80px;
                height: 90px;
                background-image: url('/assets/img/calendar/day-bg.png');
                background-size: 350px 462px;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    left: 20px;
                    top: 10px;
                    z-index: 2;
                    width: 50px;
                    height: 70px;
                    background-image: url('/assets/img/calendar/day.png');
                    background-size: 170px 273px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    z-index: 1;
                    width: 68px;
                    height: 80px;
                    background-image: url('/assets/img/calendar/day-bg-black.png');
                    background-size: 280px 369px;
                }
                &.dd-0{
                    opacity: 0;
                    margin-left: -25px;
                }
                &.dd-1{
                    background-position: 294px -100px;
                    &:before{
                        background-position: 217px -6px;
                    }
                    &:after{
                        background-position: 240px -77px;
                    }
                }
                &.dd-2{
                    width: 80px;
                    background-position: 294px -195px;
                    &:before{
                        width: 49px;
                        background-position: 256px -75px;
                    }
                    &:after{
                        left: 9px;
                        width: 55px;
                        background-position: 235px -152px;
                    }
                }
                &.dd-3{
                    width: 78px;
                    background-position: 361px -185px;
                    &:before{
                        width: 49px;
                        background-position: 217px -73px;
                    }
                    &:after{
                        left: 9px;
                        width: 55px;
                        background-position: 289px -145px;
                    }
                }
                &.dd-4{
                    width: 65px;
                    background-position: 361px -275px;
                    &:before{
                        width: 49px;
                        background-position: 298px 2px;
                    }
                    &:after{
                        left: 9px;
                        width: 55px;
                        background-position: 289px -215px;
                    }
                }
                &.dd-5{
                    width: 65px;
                    background-position: 361px -363px;
                    &:before{
                        width: 49px;
                        background-position: 217px -137px;
                    }
                    &:after{
                        left: 9px;
                        width: 55px;
                        top: 5px;
                        height: 75px;
                        background-position: 289px -288px;
                    }
                }
                &.dd-6{
                    width: 65px;
                    left: 11px;
                    background-position: 289px -283px;
                    &:before{
                        width: 49px;
                        background-position: 210px -209px;
                    }
                    &:after{
                        left: 9px;
                        width: 55px;
                        top: 5px;
                        height: 75px;
                        background-position: 229px -224px;
                    }
                }
                &.dd-7{
                    width: 70px;
                    left: 11px;
                    background-position: 228px -301px;
                    &:before{
                        width: 44px;
                        background-position: 252px -137px;
                    }
                    &:after{
                        left: 9px;
                        width: 55px;
                        top: 5px;
                        height: 75px;
                        background-position: 181px -238px;
                    }
                }
                &.dd-8{
                    width: 65px;
                    left: 11px;
                    background-position: 160px -301px;
                    &:before{
                        width: 40px;
                        background-position: 250px -206px;
                    }
                    &:after{
                        left: 9px;
                        width: 55px;
                        top: 5px;
                        height: 75px;
                        background-position: 126px -238px;
                    }
                }
                &.dd-9{
                    width: 65px;
                    left: 11px;
                    background-position: 290px -371px;
                    &:before{
                        width: 40px;
                        background-position: -7px 2px;
                    }
                    &:after{
                        left: 9px;
                        width: 55px;
                        top: 5px;
                        height: 75px;
                        background-position: 230px -294px;
                    }
                }
            }
            .day-second{
                width: 65px;
                height: 90px;
                margin-left: -51px;
                margin-top: -2px;
                background-image: url('/assets/img/calendar/day-bg.png');
                background-size: 350px 462px;
                position: relative;
                transform: rotate(3deg);
                &:before{
                    content: "";
                    position: absolute;
                    left: 20px;
                    top: 10px;
                    z-index: 2;
                    width: 50px;
                    height: 70px;
                    background-image: url('/assets/img/calendar/day.png');
                    background-size: 170px 273px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    z-index: 1;
                    width: 68px;
                    height: 80px;
                    background-image: url('/assets/img/calendar/day-bg-black.png');
                    background-size: 280px 369px;
                }
                &.dd-0{
                    opacity: 1;
                    width: 60px;
                    margin-left: -42px;
                    background-position: 294px -7px;
                    &:before{
                        background-position: 254px -3px;
                    }
                    &:after{
                        width: 60px;
                        background-position: 238px -2px;
                    }
                }
                &.dd-2{
                    width: 65px;
                    background-position: 293px -195px;
                }
                &.dd-3{
                    width: 65px;
                    margin-left: -49px;
                }
                &.dd-7{
                    margin-left: -55px;
                }
                &.dd-9{
                    margin-left: -55px;
                }
            }
        }
    }
}
.weekDayZone{
    position: absolute;
    z-index: 3;
    bottom: -12px;
    left: 20px;
    transform: rotate(-4deg);
    .weekDay{
        width: 150px;;
        &.wk-6{
            filter: hue-rotate(218deg) url(#svgTint-b)
        }
        &.wk-0, &.ferie{
            filter: hue-rotate(218deg) url(#svgTint-r)
        }
    }
    &.test{
        bottom: -50px;
        left: 50px;
        .dayText{
            display: flex;
            font-family: 'Helvetica Now Display Black';
            &.wk-3{
                
            }
        }
    }
}
.weather{
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    left: 0px;
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        background-color: #fff;
        width: 65px;
        height: 50px;
        left: -15px;
        transform: rotate(-15deg);
    }
    &.rainy{
        background: url('/assets/img/weather/rainy-black.png');
        background-size: 50px 140px;
        background-position: -3px 3px;
        animation: rainy 1.5s steps(1, end) infinite;
    }   
    &.sunny{
        height: 45px;
        background: url('/assets/img/weather/sunny-black.png');
        background-size: 45px 125px;
        background-position: 1px 2px;
        background-repeat: no-repeat;
        animation: sunny 1.5s steps(1, end) infinite;
    }   
    &.cloudy{
        margin-left: 5px;
        background: url('/assets/img/weather/cloudy-black.png');
        background-size: 50px 140px;
        background-position: -3px 3px;
        animation: cloudy 1.5s steps(1, end) infinite;
    }   
    &.snowy{
        background: url('/assets/img/weather/snowy-black.png');
        background-repeat: no-repeat;
        background-size: 50px 140px;
        background-position: -3px 3px;
        animation: snowy 1.5s steps(1, end) infinite;
    }   
    &.clearNight{
        background: url('/assets/img/weather/clear-night-black.png');
        background-repeat: no-repeat;
        background-size: 50px 140px;
        background-position: -3px 3px;
        animation: clearNight 1.5s steps(1, end) infinite;
    }   
}
@keyframes rainy{
    0%{
        background-position: -3px 3px;
    }
    25%{
        background-position: -3px -94px;
    }
    50%{
        background-position: -3px -46px;
    }
    75%{
        background-position: -3px -94px;
    }
    100%{
        background-position: -3px 3px;
    }
}
@keyframes sunny{
    0%{
        background-position: 1px 2px;
    }
    25%{
        background-position: 1px -84px;
    }
    50%{
        background-position: 1px -41px;
    }
    75%{
        background-position: 1px -84px;
    }
    100%{
        background-position: 1px 2px;
    }
}
@keyframes cloudy{
    0%{
        background-position: -3px 3px;
    }
    25%{
        background-position: -3px -94px;
    }
    50%{
        background-position: -3px -46px;
    }
    75%{
        background-position: -3px -94px;
    }
    100%{
        background-position: -3px 3px;
    }
}
@keyframes snowy{
    0%{
        background-position: -3px 3px;
    }
    25%{
        background-position: -3px -94px;
    }
    50%{
        background-position: -3px -46px;
    }
    75%{
        background-position: -3px -94px;
    }
    100%{
        background-position: -3px 3px;
    }
}
@keyframes clearNight{
    0%{
        background-position: -3px -46px;
    }
    25%{
        background-position: -3px 3px;
    }
    50%{
        background-position: -3px -94px;
    }
    75%{
        background-position: -3px 3px;
    }
    100%{
        background-position: -3px -46px;
    }
}
.back-home{
    display: none;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url('/assets/img/forms/home-A-red.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: -100px;
    transition: all linear 0.1s;
    &:before{
        content: "";
        opacity: 0;
        position: absolute;
        width: 50px;
        z-index: 1;
        height: 50px;
        background-image: url('/assets/img/img/forms/home-A-red.png');
    }
    &:hover{
        &:before{
            opacity: 1;
            animation: hoverBack 1s infinite;
        }        
    }
    &.show{
        left: 0px;
    }
}
@media (max-width: 768px){
    .back-home{
        display: none;
    }
}

@keyframes hoverBack{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}