<div class="mainMenu" id="mainMenu">
  <div class="mainMenuBg back-row" [ngClass]="dayMoment" [innerHtml]="backRow"></div>
  <div class="mainMenuBg front-row " [innerHtml]="frontRow"></div>
  <div class="mainMenuBg" [ngClass]="stars" id="starLight"></div>
  <app-background></app-background>
  <router-outlet #routerOutlet="outlet"></router-outlet>
  <div class="date-weather-bloc">
    <app-date-weather [month]="month" [dayUn]="dayun" [dayDn]="daydn" [weekDay]="weekDay" [weather]="conditions"></app-date-weather>
  </div>
</div>